@{
    Layout = null;
}

@if (Request.Cookies["NotifyBar"] != null)
{
    <div id="notify-bar" class="success" style="display: none;"><span>@Request.Cookies["NotifyBar"].Value</span> <a id="close-notify" href="javascript:void(0);">X</a></div>
    var c = new HttpCookie("NotifyBar");
    c.Expires = DateTime.Now.AddDays(-1);
    Response.Cookies.Add(c);
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#notify-bar").fadeIn(2000);
        $("#notify-bar").delay(5000).fadeOut(1000);
        $("#close-notify").click(function () {
            $("#notify-bar").stop(true).fadeOut('slow');
        });
    });
</script>