@{
    Layout = null;
}

@if (Context.Request.Cookies["NotifyBar"] != null)
{
    <div id="notify-bar" class="success" style="display: none;"><span>@Context.Request.Cookies["NotifyBar"]</span> <a id="close-notify" href="javascript:void(0);">X</a></div>
    Context.Response.Cookies.Append("NotifyBar", "", new Microsoft.AspNetCore.Http.CookieOptions { Expires = DateTimeOffset.Now.AddDays(-1) });
}
