@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active": "")">Users</a>
    </li>
    <li class="nav-item">
        <a asp-action="Roles" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Roles" ? "active": "")">Roles</a>
    </li>
</ul>

@RenderBody()