@{
    Layout = null;
    Response.AddHeader("Content-Type", "application/x-javascript"); 
}
@if (false) {
<script src="~/Scripts/jquery-1.5-vsdoc.js" type="text/javascript"></script>
}

@*<script type="text/javascript">*@
    fujiyBlog = {
        widget: {

            currentDialog: null,

            showEditWidget: function (result) {
                if(fujiyBlog.widget.currentDialog) {
                    fujiyBlog.widget.currentDialog.remove();
                }

                fujiyBlog.widget.currentDialog = $('<div>' + result + '</div>').dialog();
            },

            saveWidgetSettings: function (id, jsonSettings) {
                $.ajax({
                    url: '@Url.Action(MVC.Widget.Edit())',
                    type: 'post',
                    data: { widgetSettingId: id, settings: jsonSettings }
                }).success(fujiyBlog.widget.refreshWidget);
            },

            refreshWidget: function(htmlContent){
                var newContext = $(htmlContent);
                var elementToReplace = $('#' + newContext.attr('id'));

                newContext.replaceAll(elementToReplace);

                $('#' + newContext.attr('id')).effect('pulsate');

                if(fujiyBlog.widget.currentDialog){
                    fujiyBlog.widget.currentDialog.dialog('close');
                }
            },

            showAddedWidget: function(idZoneElement, result){
                $('#' + idZoneElement).append(result);
            },

            startDragAndDrop:function(){
                $('.widgetzone').sortable({placeholder: 'ui-state-highlight', forcePlaceholderSize: true, handle: '.move',
                    update: function(event, ui) {
                        var widgetsOrder = $(this).sortable('toArray').toString();
                        $.ajax({
                            url: '@Url.Action(MVC.Widget.Sort())',
                            type: 'post',
                            data: { widgetsOrder: widgetsOrder }
                        })
                    }
                });
            }
        }
    }