a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: inherit;
    line-height: 50px;
}

.blog-footer {
    padding: 40px 0;
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    background-color: #222;
}

    .blog-footer a {
        color: inherit;
    }

.post .title a {
    font-family: "Segoe UI Light", "Segoe UI", Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #4A4A4A;
}

.comment-title {
    font-size: 18px;
}

.commentForm {
    margin-bottom: 50px;
}

.gravatar {
    float: left;
    margin-right: 20px;
}

#sidebar ul {
    padding: 0;
    list-style: none;
}

/* Tag Cloud */
#sidebar .tagcloud li {
    display: inline;
    border-bottom: 0px;
    line-height: normal;
    margin-left: 0px;
    list-style-type: none;
}

    #sidebar .tagcloud li a {
        padding-left: 0px;
    }

#sidebar .tagcloud a.biggest {
    font-size: 19px;
}

#sidebar .tagcloud a.big {
    font-size: 17px;
}

#sidebar .tagcloud a.medium {
    font-size: 14px;
}

#sidebar .tagcloud a.small {
    font-size: 12px;
}

#sidebar .tagcloud a.smallest {
    font-size: 10px;
}


article.post img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

article.post {
    overflow-wrap: break-word;
    word-wrap: break-word;
}