.blog-header {
    color: #FFF;
}

.blog-header a {
    color: inherit;
}

.blog-header h1 {
    margin-top: 7px;
    margin-bottom: 7px;
}

.navbar-inverse .navbar-nav > li > a{
    color: inherit;
    line-height: 50px;
}
