@using FujiyBlog.Web.Extensions
@{
    ViewBag.Title = "Success";
    Layout = "_Layout";
}
<div id="contact">
    <h2>
        @FujiyBlog.Web.Resources.Labels.Success</h2>
    <p>
        @FujiyBlog.Web.Resources.Labels.ContactSuccess</p>
</div>
