@using FujiyBlog.Web.Extensions
@{
    ViewBag.Title = "Success";
    Layout = this.FindLayoutPath("_Layout");
}
<div id="contact">
    <h2>
        @Resources.Labels.Success</h2>
    <p>
        @Resources.Labels.ContactSuccess</p>
</div>
