@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a asp-area="Admin" asp-controller="Setting" asp-action="Index">Basic</a>
<a asp-area="Admin" asp-controller="Setting" asp-action="Email">Email</a>
<a asp-area="Admin" asp-controller="Setting" asp-action="Comments">Comments</a>
<a asp-area="Admin" asp-controller="Setting" asp-action="SocialNetworks">Social Networks</a>
<a asp-area="Admin" asp-controller="Setting" asp-action="Feed">Feed</a>
<a asp-area="Admin" asp-controller="Setting" asp-action="Import">Import</a>
<a asp-area="Admin" asp-controller="Setting" asp-action="Cache">Cache</a>
<a asp-area="Admin" asp-controller="Setting" asp-action="Logs">Logs</a>
@RenderBody()