@{
    ViewBag.Title = "Cache Settings";
    Layout = MVC.Admin.Setting.Views._Layout;
}
<h2>
    Cache Settings</h2>
@using (Html.BeginForm())
{

    <fieldset>
        <legend>Cache</legend>
        <div class="editor-field">
            @Html.ActionLink("Clear Cache", MVC.Admin.Setting.ClearCache())
        </div>
    </fieldset>
}
