@{
    ViewBag.Title = "Cache Settings";
    Layout = "_Layout";
}
<h2>
    Cache Settings</h2>
@using (Html.BeginForm())
{

    <fieldset>
        <legend>Cache</legend>
        <div class="editor-field">
            <a asp-area="Admin" asp-controller="Setting" asp-action="ClearCache">Clear Cache</a>
        </div>
    </fieldset>
}
