@model FujiyBlog.Web.Areas.Admin.ViewModels.AdminBasicSettings
@{
    ViewBag.Title = "Basic Settings";
    Layout = "_Layout";
}
<h2>
    Basic Settings</h2>
@using (Html.BeginForm())
{
        <legend>Basic</legend>
        <div class="form-group">
            <label asp-for="BlogName" class="control-label"></label>
            <input asp-for="BlogName" class="form-control" />
            <span asp-validation-for="BlogName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BlogDescription" class="control-label"></label>
            <input asp-for="BlogDescription" class="form-control" />
            <span asp-validation-for="BlogDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Theme" class="control-label"></label>
            <select asp-for="Theme" asp-items="Model.Themes" class="form-control"></select>
            <span asp-validation-for="Theme" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostsPerPage" class="control-label"></label>
            <input asp-for="PostsPerPage" class="form-control" />
            <span asp-validation-for="PostsPerPage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TimeZoneId" class="control-label"></label>
            <select asp-for="TimeZoneId" asp-items="Model.TimeZones" class="form-control"></select>
            <span asp-validation-for="TimeZoneId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Language" class="control-label"></label>
            <select asp-for="Language" asp-items="Model.Languages" class="form-control"></select>
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ApplicationInsightsInstrumentationKey" class="control-label"></label>
            <input asp-for="ApplicationInsightsInstrumentationKey" class="form-control" />
            <span asp-validation-for="ApplicationInsightsInstrumentationKey" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CustomCode" class="control-label"></label>
            <textarea asp-for="CustomCode" class="form-control" rows="10"></textarea>
            <span asp-validation-for="CustomCode" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
}
