@using FujiyBlog.Web.Extensions
@{
    ViewBag.Title = "Change Password";
    Layout = this.FindLayoutPath("_Layout");
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>
