@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/Themes/" + FujiyBlog.Web.Models.Settings.SettingRepository.Theme + ".cshtml";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>
