@using FujiyBlog.Web.Extensions
@model string
@{
    ViewBag.Title = "Forgot Password";
    Layout = this.FindLayoutPath("_Layout");
}
<h2>
    Password Retrieval</h2>

@using (Html.BeginForm())
{
<div class="account">
    Type your email address in the field above and your password will be emailed to
    you shortly.
    <fieldset>
        <div class="editor-label">
            @Html.LabelForModel("E-mail:")
        </div>
        <div class="editor-field">
            @Html.TextBox("email")
            @Html.ValidationMessage("email")
        </div>
        <p>
            <input type="submit" value="Send" />
            or @Html.ActionLink("cancel", MVC.Account.LogOn())
        </p>
    </fieldset>
</div>
}