@using FujiyBlog.Core.DomainObjects
@using FujiyBlog.Web.Models
@using FujiyBlog.Core.Extensions

@model FujiyBlog.Core.Dto.PostSummary
           
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div id="postnavigation">
    @if (Model.PreviousPost != null)
    {
        @Html.ActionLink("<< " + Model.PreviousPost.Title, MVC.Post.Details(Model.PreviousPost.Slug))
        if (Model.NextPost != null)
        {
             <text>|</text>
        }
    }
    @if (Model.NextPost != null)
    {
        @Html.ActionLink(Model.NextPost.Title + " >>", MVC.Post.Details(Model.NextPost.Slug))
    }
</div>
@{Html.RenderPartial(MVC.Themes.Views.Default.Post.Post, Model);}
<div id="commentlist">
@if (Model.Post.Comments.Count > 0)
{
    <h1 id="comment">
        @Resources.Labels.Comments</h1>
}
    @{Html.RenderPartial(MVC.Themes.Views.Default.Comment.Comments, Model.Post.Comments.Where(x => x.ParentComment == null));}
</div>
@if (User.IsInRole(Role.CreateComments) && Model.Post.IsCommentEnabled && Settings.SettingRepository.EnableComments && (!Settings.SettingRepository.CloseCommentsAfterDays.HasValue || Model.Post.PublicationDate.AddDays(Settings.SettingRepository.CloseCommentsAfterDays.Value) >= DateTime.UtcNow))
{
    Html.RenderPartial(MVC.Themes.Views.Default.Comment.DoComment, new PostComment {Post = Model.Post});
}