@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a asp-action="Index" class="nav-link @(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Index" ? "active": "")">Pending</a>
    </li>
    <li class="nav-item">
        <a asp-action="Approved" class="nav-link @(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Approved" ? "active": "")">Approved</a>
    </li>
</ul>

@RenderBody()