@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<a asp-controller="Comment" asp-action="Index">Pending</a>
-
<a asp-controller="Comment" asp-action="Approved">Approved</a>

@RenderBody()