@using FujiyBlog.Core.Caching
@using FujiyBlog.Core.DomainObjects
@using FujiyBlog.Core.EntityFramework

@model WidgetSetting
@{
    Layout = "Widget.cshtml";

    IDictionary<string, string> settings;
    if (Model.Settings == null)
    {
        settings = new Dictionary<string, string> { { "Title", "Categories" } };
    }
    else
    {
        settings = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<IDictionary<string, string>>(Model.Settings);
    }

    PostRepository postRepository = DependencyResolver.Current.GetService<PostRepository>();
    IEnumerable<Category> categories = CacheHelper.FromCacheOrExecute(() => DependencyResolver.Current.GetService<FujiyBlogDatabase>().Categories.OrderBy(x => x.Name).ToList(), "Widget.Categories.OrderBy.Name");

}
<h4>@Html.Raw(settings["Title"])</h4>
<div class="content">
    <ul id="categorylist">
    @foreach (var category in categories)
    {
        int postsCount = CacheHelper.FromCacheOrExecute(() => postRepository.GetTotal(null, category.Name, null, null, null), "Widget.Categories.PostRepository.GetTotal." + category.Name + " as " + User.Identity.Name);
        
        <li>@Html.ActionLink(category.Name + "(" + postsCount + ")", MVC.Post.Category(category.Name, null))</li>    
    }    
    </ul>
</div>
