@using Newtonsoft.Json.Linq
@model FujiyBlog.Core.DomainObjects.WidgetSetting
@{
    Layout = "Widget.cshtml";

    JObject settings = JObject.Parse(Model.Settings??"{}");
}
<h4>@Html.Raw(settings.Value<string>("Title"))</h4>
<div class="content">
    @Html.Raw(settings.Value<string>("Text"))
</div>
