@model FujiyBlog.Core.DomainObjects.WidgetSetting
@{
    IDictionary<string, string> settings;
    if (Model.Settings == null)
    {
        settings = new Dictionary<string, string>() { { "Title", "" }, { "Text", "" } };
    }
    else
    {
        settings = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<IDictionary<string, string>>(Model.Settings);
    }
}
Title: @Html.TextBox("Title" + Model.Id, settings["Title"])
Body: @Html.TextArea("Text" + Model.Id, settings["Text"])
<a href="javascript:void(0);" onclick="javascript:fujiyBlog.widget.saveWidgetSettings(@Model.Id, JSON.stringify({ Title: $('#Title@(Model.Id)').val(), Text: $('#Text@(Model.Id)').val() }));">
    Save</a>