@model FujiyBlog.Core.DomainObjects.WidgetSetting
@{
    IDictionary<string, object> settings;
    if (Model.Settings == null)
    {
        settings = new Dictionary<string, object>() { { "Title", "Tag Cloud" }, { "MinimumPosts", 1 } };
    }
    else
    {
        settings = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<IDictionary<string, object>>(Model.Settings);
    }
}
Title: @Html.TextBox("Title" + Model.Id, settings["Title"])<br/><br/>
Minimum posts in each tag: @Html.TextBox("MinimumPosts" + Model.Id, settings["MinimumPosts"].ToString())<br/><br/>
<a href="javascript:void(0);" onclick="javascript:fujiyBlog.widget.saveWidgetSettings(@Model.Id, JSON.stringify({ Title: $('#Title@(Model.Id)').val(), MinimumPosts: parseInt($('#MinimumPosts@(Model.Id)').val()) }));">
    Save</a>