@using System.Runtime.Caching
@using FujiyBlog.Core.Caching
@using FujiyBlog.Core.Dto
@using FujiyBlog.Core.EntityFramework

@model FujiyBlog.Core.DomainObjects.WidgetSetting
@{
    Layout = "Widget.cshtml";

    IDictionary<string, object> settings;
    if (Model.Settings == null)
    {
        settings = new Dictionary<string, object> { { "Title", "Tag Cloud" }, { "MinimumPosts", 1 } };
    }
    else
    {
        settings = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<IDictionary<string, object>>(Model.Settings);
    }

    IEnumerable<TagWithCount> tagCloud = CacheHelper.FromCacheOrExecute(() => DependencyResolver.Current.GetService<PostRepository>().GetTagsCloud((int)settings["MinimumPosts"]), cacheItemPolicy: new CacheItemPolicy { AbsoluteExpiration = DateTimeOffset.Now.AddHours(1) }, condition: !User.Identity.IsAuthenticated);
    int minTag = tagCloud.Select(x=>x.PostsCount).DefaultIfEmpty().Min();
    int maxTag = tagCloud.Select(x => x.PostsCount).DefaultIfEmpty().Max();
    int distribution = (maxTag - minTag) / 3;
}
<h4>@Html.Raw(settings["Title"] as string)</h4>
<div class="tagcloud">


<ul>
    @foreach (var tag in tagCloud)
    {
        string cssClass;
        if (tag.PostsCount == minTag)
        {
            cssClass = "smallest";
        }
        else if (tag.PostsCount == maxTag)
        {
            cssClass = "biggest";
        }
        else if (tag.PostsCount > minTag + 2 * distribution)
        {
            cssClass = "big";
        }
        else if (tag.PostsCount > minTag + distribution)
        {
            cssClass = "medium";
        }
        else
        {
            cssClass = "small";
        }
         
        <li>@Html.ActionLink(tag.Tag.Name, MVC.Post.Tag(tag.Tag.Name, null), new{@class = cssClass})</li>    
    }    
    </ul>
</div>
