@model FujiyBlog.Core.DomainObjects.WidgetSetting
<div class="widget @(Model.Name.ToLower())" id="widget@(Model.Id)">
    @if (Request.IsAuthenticated)
    {
        @Ajax.ActionLink("X", MVC.Widget.Remove(Model.Id), new AjaxOptions { HttpMethod = "POST", OnSuccess = "(function(){$('#widget"+@Model.Id+"').remove();})()" }, new { @class = "delete" })
        @Ajax.ActionLink("Edit", MVC.Widget.Edit(Model.Id), new AjaxOptions { OnSuccess = "fujiyBlog.widget.showEditWidget" }, new { @class = "edit" })
        <a class="move" href="#" title="Move widget">Move</a>
    }
    @{Html.RenderPartial(Model.Name, Model);}
</div>
