@using FujiyBlog.Web.Extensions
@model FujiyBlog.Core.DomainObjects.Page
@{
    Layout = "_Layout";
}
<div id="page">
    <h1>
        @Model.Title
    </h1>
    <div>
        @Html.Raw(Model.Content)
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="admin">
            @Html.ActionLink("Edit", "Edit", "Page", new { id = Model.Id })
        </div>
    }
</div>
