@model FujiyBlog.Core.DomainObjects.Page
@{
    Layout = "../Shared/_Layout.cshtml";
}
<div id="page">
    <h1>
        @Model.Title</h1>
    <div>
        @Html.Raw(Model.Content)
    </div>
    @if (Request.IsAuthenticated)
    {
        <div id="admin">
            @Html.ActionLink("Edit", MVC.Admin.Page.Edit(Model.Id))</div>
    }
</div>
