@model FujiyBlog.Web.ViewModels.PostDetails
           
@{
    Layout = "~/Views/Shared/Themes/" + FujiyBlog.Web.Models.Settings.SettingRepository.Theme + ".cshtml";
}

<div id="postnavigation">
    @if (Model.PreviousPost != null)
    {
        @Html.ActionLink(Model.PreviousPost.Title, MVC.Post.Details(Model.PreviousPost.Slug))
    }
    |
    @if (Model.NextPost != null)
    {
        @Html.ActionLink(Model.NextPost.Title, MVC.Post.Details(Model.NextPost.Slug))
    }
</div>
@{Html.RenderPartial(MVC.Post.Views.Post, Model.Post);}
<div id="commentlist">
    <h1 id="comment">
        Comentários</h1>
    @{Html.RenderPartial(MVC.Post.Views.Comments, Model.Post.Comments);}
</div>
@{Html.RenderPartial(MVC.Post.Views.DoComment, new FujiyBlog.Core.DomainObjects.PostComment { Post = Model.Post });}
