@model FujiyBlog.Core.DomainObjects.Post
@{
    ViewBag.Title = Model.Title;
}
<div id="postnavigation">
    Titulo do post anterior | Titulo do proximo post
</div>
@{Html.RenderPartial(MVC.Post.Views.Post);}
<div id="commentlist">
    <h1 id="comment">
        Comentários</h1>
    @{Html.RenderPartial(MVC.Post.Views.Comments, Model.Comments);}
</div>
@{Html.RenderPartial(MVC.Post.Views.DoComment, new FujiyBlog.Core.DomainObjects.PostComment { Post = Model });}
