@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a asp-area="Admin" asp-controller="Post" asp-action="Index">Posts</a> - 
<a asp-area="Admin" asp-controller="Post" asp-action="Categories">Categories</a> - 
<a asp-area="Admin" asp-controller="Post" asp-action="Tags">Tags</a>

@RenderBody()