@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a asp-action="Index" class="nav-link @(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Index" ? "active": "")">Posts</a>
    </li>
    <li class="nav-item">
        <a asp-action="Categories" class="nav-link @(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Categories" ? "active": "")">Categories</a>
    </li>
    <li class="nav-item">
        <a asp-action="Tags" class="nav-link @(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Tags" ? "active": "")">Tags</a>
    </li>
</ul>
@RenderBody()
