<nlog xmlns="http://nlog-project.org/schemas/NLog.netfx40.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="File" xsi:type="File" fileName="${basedir}\App_Data\Logs\${shortdate}_${level}.log">
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="File"/>
  </rules>
</nlog>